.nav-link {
    color: dodgerblue !important;
    background: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(236, 236, 236, 0.62);
    margin-right: 2px;
    margin-top: 2px;
}

    .nav-link:hover {
        background: rgb(217, 235, 252);
        border: 1px solid darkgrey;
    }

.pasif {
    color: #555555 !important;
    background: transparent;
}


/*sol menü  --- Stack layout Baþlangýcý*/
.stacklayout-item {
    margin: 0 0 0.2rem 0.2rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    height: 4rem;
    background-color: rgba(125, 184, 235, 0.33);
    cursor: pointer;
    word-wrap: normal;
}

    .stacklayout-item:hover {
        background-color: rgba(30, 144, 255, 0.46);
    }

/*Stack layout Bitiþi*/



/*Grid Baþlangýcý*/

.gridlayout-left-side-bar::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

.gridlayout-item {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    position: relative;
    z-index: 0;
}

    .gridlayout-item:before {
        content: " ";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.6;
    }

.gridlayout-header {
    position: fixed;
    z-index: 100;
    background: white;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
}

.gridlayout-header:before {
    background-color: var(--light);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.56);
}

.gridlayout-content {
    padding: 10px;
}
.gridlayout-content:before {
    background-color: transparent;
}

.gridlayout-left-side-bar:before {
    background-color: var(--light);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.56);
}

.gridlayout-footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    left: 0;
    background-color: thistle;
    right: 0;
}

.gridlayout-footer:before {
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.56);
    opacity: 0.5;
}

.gridlayout-left-side-bar {
    padding-right: 0px;
    overflow: auto;
}

/*Grid Layout Bitiþi*/

/*
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }*/

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
